<div class="home_container">

  <app-topo></app-topo>

  <div class="home_container-content">
    <app-card
    gameCover="https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/651a3259baaf804e52bc991dff04111b.png"
    gameLabel="Digital"
    gameType="Digital Ps 4"
    gamePrice="R$ 188,90"
    ></app-card>


    <app-card
    gameCover="https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/651a3259baaf804e52bc991dff04111b.png"
    gameLabel="Exclusive"
    gameType="DISC | PS4"
    gamePrice="R$ 288,90"

    ></app-card>

    <app-card
    gameCover="https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/651a3259baaf804e52bc991dff04111b.png"
    gameLabel="Exclusive"
    gameType="DISC | PS4"
    gamePrice="R$ 288,90"


    ></app-card>

    <app-card
    gameCover="https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/651a3259baaf804e52bc991dff04111b.png"
    gameLabel="Exclusive"
    gameType="DISC | PS4"
    gamePrice="R$ 288,90"


    ></app-card>
  </div>


</div>
